[openvox8]
name=OpenVox 8 Repository __OS_NAME__ $releasever - $basearch
baseurl=https://yum.overlookinfratech.com/openvox8/__OS_NAME__/$releasever/$basearch
gpgkey=file:///etc/pki/rpm-gpg/GPG-KEY-openvox-openvox8-release
enabled=1
gpgcheck=1
